<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>品牌管理</title>
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
        <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
        <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../plugins/angularjs/angular.min.js"></script>
        <!--导入分页插件-->
        <link rel="stylesheet" href="../plugins/angularjs/pagination.css"/>

        <script src="../plugins/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>

    </head>
    <body class="hold-transition skin-red sidebar-mini" ng-app="pyg" ng-controller="brandController">
        <!-- .box-body -->
        <div class="box-header with-border">
            <h3 class="box-title">品牌管理</h3>
        </div>

        <div class="box-body">

            <!-- 数据表格 -->
            <div class="table-box">

                <!--工具栏-->
                <div class="pull-left">
                    <div class="form-group form-inline">
                        <div class="btn-group">
                            <button type="button" ng-click="obj={}"  class="btn btn-default" title="新建" data-toggle="modal"
                                    data-target="#editModal"><i class="fa fa-file-o"></i> 新建
                            </button>
                            <button ng-click="del()" type="button" class="btn btn-default" title="删除"><i class="fa fa-trash-o"></i> 删除
                            </button>
                            <button type="button" class="btn btn-default" title="刷新"
                                    onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        品牌名称:<input ng-model="queryVO.name">
                        品牌首字母:<input ng-model="queryVO.firstChar">
                        <button class="btn btn-default" ng-click="reloadList()">查询</button>

                    </div>
                </div>
                <!--工具栏/-->

                <!--数据列表-->
                <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                    <tr>
                        <th class="" style="padding-right:0px">
                            <input id="selall" type="checkbox" class="icheckbox_square-blue">
                        </th>
                        <th class="sorting_asc">品牌ID</th>
                        <th class="sorting">品牌名称</th>
                        <th class="sorting">品牌首字母</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entity in list" ng-init="findAllByPage">
                        <td><input type="checkbox" ng-click="updateSelection($event,entity.id)" ng-checked="isChecked(entity.id)"></td>
                        <td>{{entity.id}}</td>
                        <td>{{entity.name}}</td>
                        <td>{{entity.firstChar}}</td>
                        <td class="text-center">
                            <button ng-click="showData(entity.id)" type="button" class="btn bg-olive btn-xs" data-toggle="modal"
                                    data-target="#editModal">修改
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--数据列表/-->

                <!--angular分页插件-->
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
            <!-- 数据表格 /-->


        </div>
        <!-- /.box-body -->

        <!-- 编辑窗口 -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">品牌编辑</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped" width="800px">
                            <tr>
                                <td>品牌名称</td>
                                <td><input ng-model="obj.name" class="form-control" placeholder="品牌名称"></td>
                            </tr>
                            <tr>
                                <td>首字母</td>
                                <td><input ng-model="obj.firstChar" class="form-control" placeholder="首字母"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="save()" class="btn btn-success" data-dismiss="modal" aria-hidden="true">保存</button>
                        <button  class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var app = angular.module('pyg', ["pagination"]);
            app.controller("brandController",function ($scope,$http) {

                //记录复选框选中的id
                $scope.checkedIds = [];
                $scope.updateSelection = function ($event, id) {
                    if ($event.target.checked) {
                        //[] -> [x] 选中
                        $scope.checkedIds.push(id);
                    } else {
                        //[x] -> [] 取消选中
                        var index = $scope.checkedIds.indexOf(id);
                        $scope.checkedIds.splice(index,1);
                    }
                };

                //保证在改变页数的时候能够显示已经选中的复选框
                $scope.isChecked = function (id) {
                    return $scope.checkedIds.indexOf(id) !== -1;
                };

                //angular分页配置
                $scope.paginationConf = {
                    currentPage: 1,  				//当前页
                    // totalItems: 10,					//总记录数
                    itemsPerPage: 10,				//每页记录数
                    perPageOptions: [10, 20, 30, 40, 50], //分页选项，下拉选择一页多少条记录
                    onChange: function () {			//页面变更后触发的方法
                        $scope.reloadList();		//启动就会调用分页组件
                    }
                };
                //重新加载数据
                $scope.reloadList = function () {
                    //根据当前页和每页条数查询
                    $scope.findAllByPage($scope.paginationConf.currentPage, $scope.paginationConf.itemsPerPage);
                };
                //分页查询所有
                $scope.findAllByPage = function (pageNum, pageSize) {

                    $http.get('../brand/findAllByPage.do?pageNum=' + pageNum + '&pageSize=' + pageSize).success(function (data) {
                        $scope.list = data.data;
                        $scope.paginationConf.totalItems = data.total;
                    });
                };

                //保存 (调用新增/修改方法)
                $scope.save = function () {
                    if ($scope.obj.id != null) {
                        //执行修改方法
                        $scope.modify($scope.obj.id);
                    } else {
                        // 执行新增方法
                        $scope.add();
                    }
                };

                //新建品牌
                $scope.add = function () {
                    $http.post('../brand/add.do', $scope.obj).success(function (data) {
                        if (data.success) {
                            $scope.reloadList();
                        } else {
                            alert(data.message);
                        }
                    })
                };

                //回显修改页面的数据
                $scope.showData = function (id) {
                    $scope.obj = {};
                    $http.get("../brand/findOneById.do?id="+id).success(function (data) {
                        if (data != null) {
                            $scope.obj = data;
                        }
                    });
                };
                //修改品牌
                $scope.modify = function (id) {
                    $http.post("../brand/update.do", $scope.obj).success(function (data) {
                        if (data.success) {
                            $scope.reloadList();
                        } else {
                            alert(data.message);
                        }
                    });
                };

                //批量删除品牌
                $scope.del = function () {
                    if (confirm("您确定要删除吗?")) {
                        $http.post("../brand/batchDelete.do" , $scope.checkedIds).success(function (data) {
                            if (data.success) {
                                $scope.reloadList();
                                $scope.checkedIds = [];
                            } else {
                                alert(data.message);
                            }
                        });
                    }
                }

            });

        </script>
    </body>
</html>