<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.songxin.pyg.mapper.BrandMapper" >


    <!-- 查询所有品牌列表 -->
    <select id="findAll" resultType="tbBrand">
        select id,name,first_char firstChar from tb_brand
    </select>

    <!-- 新增品牌 -->
    <insert id="add" parameterType="tbBrand">
        insert into tb_brand (name, first_char)
        values (#{name}, #{firstChar})
    </insert>

    <!-- 根据 id 查找品牌-->
    <select id="findOneById" parameterType="int" resultType="tbBrand">
        select id, name, first_char firstChar
        from tb_brand
        where id = #{id};
    </select>

    <!-- 修改品牌-->
    <update id="update" parameterType="tbBrand">
        update tb_brand set name = #{name}, first_char = #{firstChar}
        where id = #{id}
    </update>

    <!-- 删除品牌 -->
    <delete id="delete" parameterType="long">
        delete from tb_brand where id = #{id}
    </delete>

    <!-- 根据条件查询 -->
    <select id="findByCondition" parameterType="tbBrand" resultType="tbBrand">
        select id,name,first_char firstChar from tb_brand
        <where>
            <if test="name!=null and name!=''">
                and name like '%${name}%'
            </if>
            <if test="firstChar != null and firstChar != ''">
                and first_char = #{firstChar}
            </if>
        </where>
    </select>
</mapper>